body {
  margin: 0;
  text-align: center;
  font-family: 'Lora', serif
}

a {
  position: relative;
  top: 90px;
  text-decoration: none;
  padding: 5px;
  color: #11999E;
  font-family: 'Catamaran', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.565rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Catamaran', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Catamaran', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 70px;
  padding-top: 0;
  padding-bottom: 50px;
  margin-top: 50px;
}

p {
  padding: 10px;
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  line-height: 2;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  margin: 100px 0 0 0;
  height: 200px;
  font-family: sans-serif;
  color: #11999E;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.testing-icon {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}

.ps-icon {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.Copyright {
  color: #EAF6F6;
  font-size: .75rem;
  position: relative;
  top: 90px;
}

.BUTTON_JOL {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #F7F7F7;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: relative;
  top: 25px;
}


.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 30%;
  margin: auto;
}
